* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Write your answer here : all items within element will be flex item
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 

sets whether flex items are forced onto one line or can wrap onto multiple lines. 
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
 defines how the browser distributes space between and around content items along the main-axis of a flex container, and the inline axis of a grid container. 
 
 aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally)
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*T*/
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
 sets how a flex item will grow or shrink to fit the space available in its flex container0 0 cancel flexibiity
 flex-grow. flex-shrink. flex-basis.
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 

defines the size of the flex-item along the main axis of the flex container. 
it'll be vertical if the flex-direction property is set to column .
*/
@media screen and (max-width: 768px) {

  main,
  nav {
    flex-direction: column;
  }
}